$primary-color: radial-gradient(circle, rgb(223, 235, 223), rgb(220, 241, 220));
$lightgreen: #75ed95;
$darkgreen: #4f734f;
$darkgray: #3b3b3b;
$gray: #a8a3a3;
$white: #fff;
$black: #000;

$font: "Roboto", sans-serif;
